# UDEV rule for using more than one display
# gather info about device(s) with   udevadm info -a -n /dev/ttyUSB0
#
# No changeable SERIAL for ch34x devices
# https://arduino.stackexchange.com/questions/6617/setting-serial-number-on-ch340-usb-serial-device
#
#KERNEL=="ttyUSB?", ATTRS{bcdDevice}=="0264", SYMLINK+="tty2oled"
#KERNEL=="ttyUSB?", ATTRS{bcdDevice}=="0254", SYMLINK+="tty2tft"
